In [1]:
import pandas as pd
import numpy as np

jan = pd.read_csv('2024 BIKE DATA/202401-citibike-tripdata.csv')
feb = pd.read_csv('2024 BIKE DATA/202402-citibike-tripdata.csv')
march = pd.read_csv('2024 BIKE DATA/202403-citibike-tripdata.csv')
april = pd.read_csv('2024 BIKE DATA/202404-citibike-tripdata.csv')

/var/folders/lz/kzff5gf543sbfrp4_42hxgwc0000gn/T/ipykernel_8609/66549666.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  jan = pd.read_csv('2024 BIKE DATA/202401-citibike-tripdata.csv')
/var/folders/lz/kzff5gf543sbfrp4_42hxgwc0000gn/T/ipykernel_8609/66549666.py:5: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  feb = pd.read_csv('2024 BIKE DATA/202402-citibike-tripdata.csv')
/var/folders/lz/kzff5gf543sbfrp4_42hxgwc0000gn/T/ipykernel_8609/66549666.py:6: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  march = pd.read_csv('2024 BIKE DATA/202403-citibike-tripdata.csv')
/var/folders/lz/kzff5gf543sbfrp4_42hxgwc0000gn/T/ipykernel_8609/66549666.py:7: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  april = pd.read_csv('2024 BIKE DATA/202404-citibike-tripdata.csv')

In [2]:
jan.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,5078F3D302000BD2,electric_bike,2024-01-22 18:43:19.012,2024-01-22 18:48:10.708,Frederick Douglass Blvd & W 145 St,7954.12,St Nicholas Ave & W 126 St,7756.10,40.823072,-73.941738,40.811432,-73.951878,member
1,814337105D37302A,electric_bike,2024-01-11 19:19:18.721,2024-01-11 19:47:36.007,W 54 St & 6 Ave,6771.13,E 74 St & 1 Ave,6953.08,40.761822,-73.977036,40.768974,-73.954823,member
2,A33A920E2B10710C,electric_bike,2024-01-30 19:17:41.693,2024-01-30 19:32:49.857,E 11 St & Ave B,5659.11,W 10 St & Washington St,5847.06,40.727592,-73.979751,40.733424,-74.008515,casual
3,A3A5FC0DD7D34D74,electric_bike,2024-01-27 11:27:01.759,2024-01-27 11:38:01.213,W 54 St & 6 Ave,6771.13,E 74 St & 1 Ave,6953.08,40.761779,-73.977144,40.768974,-73.954823,member
4,6F96728ECEFBDAA4,electric_bike,2024-01-16 15:15:41.000,2024-01-16 15:29:26.156,Madison Ave & E 99 St,7443.01,E 74 St & 1 Ave,6953.08,40.789808,-73.952214,40.768974,-73.954823,member

In [3]:
jan.info()
jan.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1888085 entries, 0 to 1888084
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 187.3+ MB

          start_lat     start_lng       end_lat       end_lng
count  1.888085e+06  1.888085e+06  1.887534e+06  1.887534e+06
mean   4.073898e+01 -7.397188e+01  4.073888e+01 -7.397208e+01
std    4.003527e-02  2.818343e-02  3.990145e-02  2.816227e-02
min    4.056315e+01 -7.402699e+01  4.058000e+01 -7.406692e+01
25%    4.071495e+01 -7.399164e+01  4.071503e+01 -7.399177e+01
50%    4.073932e+01 -7.397964e+01  4.073913e+01 -7.397974e+01
75%    4.076193e+01 -7.395587e+01  4.076171e+01 -7.395596e+01
max    4.088636e+01 -7.384962e+01  4.092000e+01 -7.379000e+01

In [4]:
may_dfs = []

may_dfs.append(pd.read_csv('2024 BIKE DATA/202405-citibike-tripdata/202405-citibike-tripdata_1.csv'))
may_dfs.append(pd.read_csv('2024 BIKE DATA/202405-citibike-tripdata/202405-citibike-tripdata_2.csv'))
may_dfs.append(pd.read_csv('2024 BIKE DATA/202405-citibike-tripdata/202405-citibike-tripdata_3.csv'))
may_dfs.append(pd.read_csv('2024 BIKE DATA/202405-citibike-tripdata/202405-citibike-tripdata_4.csv'))
may_dfs.append(pd.read_csv('2024 BIKE DATA/202405-citibike-tripdata/202405-citibike-tripdata_5.csv'))

may = pd.concat(may_dfs)
may.head()

/var/folders/lz/kzff5gf543sbfrp4_42hxgwc0000gn/T/ipykernel_8609/912083189.py:3: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  may_dfs.append(pd.read_csv('2024 BIKE DATA/202405-citibike-tripdata/202405-citibike-tripdata_1.csv'))
/var/folders/lz/kzff5gf543sbfrp4_42hxgwc0000gn/T/ipykernel_8609/912083189.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  may_dfs.append(pd.read_csv('2024 BIKE DATA/202405-citibike-tripdata/202405-citibike-tripdata_2.csv'))
/var/folders/lz/kzff5gf543sbfrp4_42hxgwc0000gn/T/ipykernel_8609/912083189.py:5: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  may_dfs.append(pd.read_csv('2024 BIKE DATA/202405-citibike-tripdata/202405-citibike-tripdata_3.csv'))
/var/folders/lz/kzff5gf543sbfrp4_42hxgwc0000gn/T/ipykernel_8609/912083189.py:6: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  may_dfs.append(pd.read_csv('2024 BIKE DATA/202405-citibike-tripdata/202405-citibike-tripdata_4.csv'))
/var/folders/lz/kzff5gf543sbfrp4_42hxgwc0000gn/T/ipykernel_8609/912083189.py:7: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  may_dfs.append(pd.read_csv('2024 BIKE DATA/202405-citibike-tripdata/202405-citibike-tripdata_5.csv'))

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,FE6A074FC945A086,electric_bike,2024-05-01 08:05:53,2024-05-01 08:15:14,1 Ave & E 30 St,6079.03,E 74 St & 1 Ave,6953.08,40.741509,-73.975355,40.768974,-73.954823,member
1,6844CF42F72827D7,classic_bike,2024-05-10 15:00:06,2024-05-10 15:08:58,31 Ave & 57 St,6621.06,31 Ave & Steinway St,6782.01,40.757357,-73.904726,40.761149,-73.917007,member
2,D7C9E007F791A7A2,classic_bike,2024-05-06 12:28:39,2024-05-06 12:35:21,E 89 St & 3 Ave,7265.10,E 80 St & 2 Ave,7121.02,40.780628,-73.952167,40.773914,-73.954395,member
3,3419650E2F5999F1,classic_bike,2024-05-16 16:09:14,2024-05-16 16:14:20,E 89 St & 3 Ave,7265.10,E 80 St & 2 Ave,7121.02,40.780628,-73.952167,40.773914,-73.954395,member
4,5469FDC75E0F1FCA,electric_bike,2024-05-29 15:43:37,2024-05-29 15:49:27,1 Ave & E 30 St,6079.03,E 45 St & 3 Ave,6464.08,40.741444,-73.975361,40.752554,-73.972826,member

In [5]:
june_dfs = []

june_dfs.append(pd.read_csv('2024 BIKE DATA/202406-citibike-tripdata/202406-citibike-tripdata_1.csv'))
june_dfs.append(pd.read_csv('2024 BIKE DATA/202406-citibike-tripdata/202406-citibike-tripdata_2.csv'))
june_dfs.append(pd.read_csv('2024 BIKE DATA/202406-citibike-tripdata/202406-citibike-tripdata_3.csv'))
june_dfs.append(pd.read_csv('2024 BIKE DATA/202406-citibike-tripdata/202406-citibike-tripdata_4.csv'))
june_dfs.append(pd.read_csv('2024 BIKE DATA/202406-citibike-tripdata/202406-citibike-tripdata_5.csv'))

june = pd.concat(june_dfs)
june.head()

/var/folders/lz/kzff5gf543sbfrp4_42hxgwc0000gn/T/ipykernel_8609/820852239.py:3: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  june_dfs.append(pd.read_csv('2024 BIKE DATA/202406-citibike-tripdata/202406-citibike-tripdata_1.csv'))
/var/folders/lz/kzff5gf543sbfrp4_42hxgwc0000gn/T/ipykernel_8609/820852239.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  june_dfs.append(pd.read_csv('2024 BIKE DATA/202406-citibike-tripdata/202406-citibike-tripdata_2.csv'))
/var/folders/lz/kzff5gf543sbfrp4_42hxgwc0000gn/T/ipykernel_8609/820852239.py:5: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  june_dfs.append(pd.read_csv('2024 BIKE DATA/202406-citibike-tripdata/202406-citibike-tripdata_3.csv'))
/var/folders/lz/kzff5gf543sbfrp4_42hxgwc0000gn/T/ipykernel_8609/820852239.py:6: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  june_dfs.append(pd.read_csv('2024 BIKE DATA/202406-citibike-tripdata/202406-citibike-tripdata_4.csv'))
/var/folders/lz/kzff5gf543sbfrp4_42hxgwc0000gn/T/ipykernel_8609/820852239.py:7: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  june_dfs.append(pd.read_csv('2024 BIKE DATA/202406-citibike-tripdata/202406-citibike-tripdata_5.csv'))

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,A38B171B6C31691A,electric_bike,2024-06-12 17:47:23.952,2024-06-12 17:50:27.312,E 89 St & 3 Ave,7265.10,1 Ave & E 94 St,7286.05,40.780499,-73.952185,40.781721,-73.945940,member
1,77E13C9D6559EA56,electric_bike,2024-06-04 16:48:42.876,2024-06-04 17:01:46.672,Pier 40 - Hudson River Park,5696.03,W 25 St & 9 Ave,6339.06,40.728060,-74.011184,40.747833,-74.000572,member
2,EA6418AD826D19D9,electric_bike,2024-06-01 13:36:28.502,2024-06-01 13:52:55.912,W 44 St & 5 Ave,6551.02,E 75 St & 3 Ave,6991.12,40.754621,-73.980641,40.771129,-73.957723,member
3,121CF2548FB65A29,classic_bike,2024-06-01 03:12:09.636,2024-06-01 03:16:29.531,Graham Ave & Withers St,5403.04,Meserole Ave & Manhattan Ave,5666.04,40.716981,-73.944859,40.727086,-73.952991,member
4,E6BE7FD2809649D6,electric_bike,2024-06-08 13:14:31.197,2024-06-08 13:24:09.858,E 9 St & Ave C,5616.01,Cleveland Pl & Spring St,5492.05,40.725241,-73.977735,40.722104,-73.997249,member

In [6]:
july_dfs = []

july_dfs.append(pd.read_csv('2024 BIKE DATA/202407-citibike-tripdata/202407-citibike-tripdata_1.csv'))
july_dfs.append(pd.read_csv('2024 BIKE DATA/202407-citibike-tripdata/202407-citibike-tripdata_2.csv'))
july_dfs.append(pd.read_csv('2024 BIKE DATA/202407-citibike-tripdata/202407-citibike-tripdata_3.csv'))
july_dfs.append(pd.read_csv('2024 BIKE DATA/202407-citibike-tripdata/202407-citibike-tripdata_4.csv'))
july_dfs.append(pd.read_csv('2024 BIKE DATA/202407-citibike-tripdata/202407-citibike-tripdata_5.csv'))

july = pd.concat(july_dfs)
july.head()

/var/folders/lz/kzff5gf543sbfrp4_42hxgwc0000gn/T/ipykernel_8609/3223159967.py:3: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  july_dfs.append(pd.read_csv('2024 BIKE DATA/202407-citibike-tripdata/202407-citibike-tripdata_1.csv'))
/var/folders/lz/kzff5gf543sbfrp4_42hxgwc0000gn/T/ipykernel_8609/3223159967.py:4: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  july_dfs.append(pd.read_csv('2024 BIKE DATA/202407-citibike-tripdata/202407-citibike-tripdata_2.csv'))
/var/folders/lz/kzff5gf543sbfrp4_42hxgwc0000gn/T/ipykernel_8609/3223159967.py:5: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  july_dfs.append(pd.read_csv('2024 BIKE DATA/202407-citibike-tripdata/202407-citibike-tripdata_3.csv'))
/var/folders/lz/kzff5gf543sbfrp4_42hxgwc0000gn/T/ipykernel_8609/3223159967.py:6: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  july_dfs.append(pd.read_csv('2024 BIKE DATA/202407-citibike-tripdata/202407-citibike-tripdata_4.csv'))
/var/folders/lz/kzff5gf543sbfrp4_42hxgwc0000gn/T/ipykernel_8609/3223159967.py:7: DtypeWarning: Columns (6,8) have mixed types. Specify dtype option on import or set low_memory=False.
  july_dfs.append(pd.read_csv('2024 BIKE DATA/202407-citibike-tripdata/202407-citibike-tripdata_5.csv'))

,Unnamed: 0,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,0,A3818B07E831C033,electric_bike,2024-07-01 21:00:55.640,2024-07-01 21:07:43.553,W 24 St & 7 Ave,6257.03,W 20 St & 10 Ave,6306.01,40.744784,-73.995524,40.745686,-74.005141,member
1,1,40B46D3F898A6CA4,electric_bike,2024-07-09 18:28:39.551,2024-07-09 18:46:43.854,Park Pl & Buffalo Ave,3999.06,Irving Ave & Harman St,4856.05,40.671992,-73.925502,40.701080,-73.917900,member
2,2,33683B345D08C2BC,electric_bike,2024-07-14 17:10:28.899,2024-07-14 17:27:59.917,E 48 St & 5 Ave,6626.01,E 43 St & Madison Ave,6551.11,40.757246,-73.978059,40.753547,-73.978966,casual
3,3,B213C077CE572EBD,electric_bike,2024-07-01 11:37:06.440,2024-07-01 11:42:02.259,Melrose Ave & E 154 St,7918.12,Wales Ave & E 147 St,7751.05,40.819665,-73.916111,40.811314,-73.907729,member
4,4,E42FF50D966A009B,electric_bike,2024-07-05 16:55:59.093,2024-07-05 16:59:41.250,W 24 St & 7 Ave,6257.03,Greenwich Ave & Charles St,5914.08,40.744817,-73.995416,40.735238,-74.000271,member

In [7]:
august_dfs = []

august_dfs.append(pd.read_csv('2024 BIKE DATA/202408-citibike-tripdata/202408-citibike-tripdata_1.csv'))
august_dfs.append(pd.read_csv('2024 BIKE DATA/202408-citibike-tripdata/202408-citibike-tripdata_2.csv'))
august_dfs.append(pd.read_csv('2024 BIKE DATA/202408-citibike-tripdata/202408-citibike-tripdata_3.csv'))
august_dfs.append(pd.read_csv('2024 BIKE DATA/202408-citibike-tripdata/202408-citibike-tripdata_4.csv'))
august_dfs.append(pd.read_csv('2024 BIKE DATA/202408-citibike-tripdata/202408-citibike-tripdata_5.csv'))

august = pd.concat(august_dfs)
august.head()

/var/folders/lz/kzff5gf543sbfrp4_42hxgwc0000gn/T/ipykernel_8609/223960614.py:3: DtypeWarning: Columns (6,8) have mixed types. Specify dtype option on import or set low_memory=False.
  august_dfs.append(pd.read_csv('2024 BIKE DATA/202408-citibike-tripdata/202408-citibike-tripdata_1.csv'))
/var/folders/lz/kzff5gf543sbfrp4_42hxgwc0000gn/T/ipykernel_8609/223960614.py:4: DtypeWarning: Columns (6,8) have mixed types. Specify dtype option on import or set low_memory=False.
  august_dfs.append(pd.read_csv('2024 BIKE DATA/202408-citibike-tripdata/202408-citibike-tripdata_2.csv'))
/var/folders/lz/kzff5gf543sbfrp4_42hxgwc0000gn/T/ipykernel_8609/223960614.py:5: DtypeWarning: Columns (6,8) have mixed types. Specify dtype option on import or set low_memory=False.
  august_dfs.append(pd.read_csv('2024 BIKE DATA/202408-citibike-tripdata/202408-citibike-tripdata_3.csv'))
/var/folders/lz/kzff5gf543sbfrp4_42hxgwc0000gn/T/ipykernel_8609/223960614.py:6: DtypeWarning: Columns (6,8) have mixed types. Specify dtype option on import or set low_memory=False.
  august_dfs.append(pd.read_csv('2024 BIKE DATA/202408-citibike-tripdata/202408-citibike-tripdata_4.csv'))
/var/folders/lz/kzff5gf543sbfrp4_42hxgwc0000gn/T/ipykernel_8609/223960614.py:7: DtypeWarning: Columns (6,8) have mixed types. Specify dtype option on import or set low_memory=False.
  august_dfs.append(pd.read_csv('2024 BIKE DATA/202408-citibike-tripdata/202408-citibike-tripdata_5.csv'))

,rideable_type_duplicate_column_name_1,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,electric_bike,06967465A2A0ABD9,electric_bike,2024-08-11 13:40:50.958,2024-08-11 13:53:24.149,1 Ave & E 18 St,5854.09,W 20 St & 10 Ave,6306.01,40.733812,-73.980544,40.745686,-74.005141,member
1,electric_bike,8698B37420563CCC,electric_bike,2024-08-05 08:12:49.336,2024-08-05 08:48:03.320,W 181 St & Riverside Dr,8381.04,Hudson Blvd W & W 36 St,6611.07,40.851680,-73.941860,40.756765,-73.999714,member
2,electric_bike,E7CB10418EBA1F43,electric_bike,2024-08-09 13:39:16.596,2024-08-09 13:57:01.755,1 Ave & E 18 St,5854.09,Fulton St & Adams St,4637.06,40.733812,-73.980544,40.692418,-73.989495,member
3,electric_bike,25C23D06829C695C,electric_bike,2024-08-07 15:01:31.370,2024-08-07 15:08:41.839,Morris Ave & E 163 St,8036.05,Morris Ave & E 171 St,8209.01,40.827230,-73.917656,40.838990,-73.910900,member
4,classic_bike,D11FB08CCDC5E48F,classic_bike,2024-08-14 15:49:34.500,2024-08-14 15:54:04.601,82 St & Broadway,6132.01,Elmhurst Ave & Forley St,6240.05,40.742810,-73.882960,40.746150,-73.877630,member

In [8]:
null_values = jan.isnull()
null_counts = jan.isnull().sum()

print(null_values)
print(null_counts)

         ride_id  rideable_type  started_at  ended_at  start_station_name  \
0          False          False       False     False               False
1          False          False       False     False               False
2          False          False       False     False               False
3          False          False       False     False               False
4          False          False       False     False               False
...          ...            ...         ...       ...                 ...
1888080    False          False       False     False               False
1888081    False          False       False     False               False
1888082    False          False       False     False               False
1888083    False          False       False     False               False
1888084    False          False       False     False               False

         start_station_id  end_station_name  end_station_id  start_lat  \
0                   False             False           False      False
1                   False             False           False      False
2                   False             False           False      False
3                   False             False           False      False
4                   False             False           False      False
...                   ...               ...             ...        ...
1888080             False             False           False      False
1888081             False             False           False      False
1888082             False             False           False      False
1888083             False             False           False      False
1888084             False             False           False      False

         start_lng  end_lat  end_lng  member_casual
0            False    False    False          False
1            False    False    False          False
2            False    False    False          False
3            False    False    False          False
4            False    False    False          False
...            ...      ...      ...            ...
1888080      False    False    False          False
1888081      False    False    False          False
1888082      False    False    False          False
1888083      False    False    False          False
1888084      False    False    False          False

[1888085 rows x 13 columns]
ride_id                  0
rideable_type            0
started_at               0
ended_at                 0
start_station_name    1160
start_station_id      1160
end_station_name      5505
end_station_id        5505
start_lat                0
start_lng                0
end_lat                551
end_lng                551
member_casual            0
dtype: int64